<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643884163460-bs7nmkcpnt48m9ettg6catrrqurjoo1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643884163460-bs7nmkcpnt48m9ettg6catrrqurjoo1q</string>
	<key>API_KEY</key>
	<string>AIzaSyBkP_sfy_dvn8YEZYSIelH6bqO3aGp_n6M</string>
	<key>GCM_SENDER_ID</key>
	<string>643884163460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tushartapadia.TechTatva20</string>
	<key>PROJECT_ID</key>
	<string>techtatva20</string>
	<key>STORAGE_BUCKET</key>
	<string>techtatva20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643884163460:ios:9eeb27a3a455ca57957dd1</string>
	<key>DATABASE_URL</key>
	<string>https://techtatva20.firebaseio.com</string>
</dict>
</plist>